.HostList_frame {
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
}

.youso{
    position: absolute;
    width: 600px;
    height: 400px;
    
    background: #FFFFFF;
    border-radius: 25px;
}