.HostList_frame {
    width: 100%;
    height: 500px;
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.19);
}

.youso{
    width: auto;
    height: 250px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    
    background: #FFFFFF;
    border-radius: 25px;
}